<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhavya.hey_chat"> <!-- Ensure this package matches your app's package name -->

    <!-- The INTERNET permission is required for development. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Hey Chat"
        android:icon="@mipmap/ic_launcher">
        <!-- Declare your MainActivity here -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
